[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
isort = "*"
flake8 = "*"
imdbpy = "*"
djangorestframework = "==3.12.4"
django-cors-headers = "*"
requests = "*"
beautifulsoup4 = "*"
dj-rest-auth = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.9"
